<script setup lang="ts"></script>

<template>
  <h1>Borkedfolio</h1>
  <p>This is the portfolio directory of Joshua Philips</p>
  <p>You should be able to find some pretty cool stuff in this thing</p>
  <v-form v-model="valid">
    <v-container>
      <v-row>
        <v-col cols="12" md="8">
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-btn @click="createUser"> Submit </v-btn>
        </v-col>
      </v-row>
      <v-row v-for="item in currencies">
        <v-col cols="12" md="12">
          <v-card>
            <v-card-title>{{ item.name }}</v-card-title>
            <v-card-text>{{ item.symbol }}</v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    valid: false,
    email: '',
    emailRules: [
      (value) => {
        if (value) return true;

        return 'E-mail is required.';
      },
      (value) => {
        if (/.+@.+\..+/.test(value)) return true;

        return 'E-mail must be valid.';
      }
    ],
    currencies: []
  }),
  methods: {
    async crypto() {
      const response = await fetch('http://localhost:3000/cryptos');
      const data = await response.json();
      this.currencies = data.data;
    },
    async createUser() {
      const response = await fetch(`http://localhost:3000/users?email=${this.email}`)
      const data = await response.json()
      console.log(data)
    }
  },
  created() {
    this.crypto();
  }
};
</script>

<style scoped></style>
