<script setup lang="ts">
import Home from './components/Home.vue';
</script>

<template>
  <v-layout class="rounded rounded-md">
    <v-app-bar title="Borkedfolio"></v-app-bar>
    <v-navigation-drawer> </v-navigation-drawer>
    <v-main class="d-flex justify-center align-center">
      <Home />
    </v-main>
  </v-layout>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
